.typo-display-1 {
  font-family: "Vazirmatn";
  font-size: 64px;
  font-weight: 600;
  line-height: 88px;
}

.typo-display-2 {
  font-family: "Vazirmatn";
  font-size: 56px;
  font-weight: 600;
  line-height: 76px;
}

.typo-heading-1 {
  font-family: "Vazirmatn";
  font-size: 44px;
  font-weight: 600;
  line-height: 60px;
}

.typo-heading-2 {
  font-family: "Vazirmatn";
  font-size: 40px;
  font-weight: 600;
  line-height: 56px;
}

.typo-heading-3 {
  font-family: "Vazirmatn";
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.typo-heading-4 {
  font-family: "Vazirmatn";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.typo-heading-5 {
  font-family: "Vazirmatn";
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.typo-heading-6 {
  font-family: "Vazirmatn";
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.typo-body-1 {
  font-family: "Vazirmatn";
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.typo-body-2 {
  font-family: "Vazirmatn";
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.typo-body-3 {
  font-family: "Vazirmatn";
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.typo-body-4 {
  font-family: "Vazirmatn";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.typo-body-5 {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.typo-caption-1 {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.typo-caption-2 {
  font-family: "Vazirmatn";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.typo-button-1 {
  font-family: "Vazirmatn";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.typo-button-2 {
  font-family: "Vazirmatn";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.typo-overline-1 {
  font-family: "Vazirmatn";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.typo-overline-2 {
  font-family: "Vazirmatn";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
}
